<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149872191226-2vkn7oqd75d5754o3tme7inagt50hbkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149872191226-2vkn7oqd75d5754o3tme7inagt50hbkl</string>
	<key>API_KEY</key>
	<string>AIzaSyC7bvPv2RcGZF0T0hLt4TP5QYmZLiuutno</string>
	<key>GCM_SENDER_ID</key>
	<string>149872191226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gctuStudents</string>
	<key>PROJECT_ID</key>
	<string>gctu-7fb3a</string>
	<key>STORAGE_BUCKET</key>
	<string>gctu-7fb3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149872191226:ios:c633424e9147555b088b43</string>
</dict>
</plist>